@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Lobster&family=Montserrat&family=Pacifico&family=Varela+Round&display=swap');

body {
    text-align: center;
    margin: 30px;
    padding: 20px;
    background-color: rgb(255, 229, 192);
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 70px;
    color: rgb(12, 81, 128);
    text-shadow: 10px 10px 10px rgb(69, 70, 70);
}

p {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 50px;
   color: rgb(81, 118, 22);
   text-shadow: 2px 5px 10px black;
}

button {
    width: 200px;
    height: 50px;
    margin: 30px 10px 30px 10px;
    border-radius: 30px;
    border-style: none;
    background-color: burlywood;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    box-shadow: 10px 10px 10px rgb(67, 66, 66);
}

button:hover {
     transform: matrix(1.50);
     background: cadetblue;
     color: moccasin;
}